body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Logan */
.home {
    float: none;
}
.home01 {
    float: none;
    margin: auto;
    width: 80%;
}
.home02 {
/*  display: flex; */
    border-radius: 5em 0em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 2em;
    margin-top: 2em;
    float: left;
    vertical-align: middle;
    padding-top: 3em;
    padding-bottom: 3em;
    width: 20em;
    height: 20em;
    text-align: center;
    cursor: pointer;
}
.home02 a p {
    font-weight: bold;
    font-size: 2em;
}
.home02 a {
    text-decoration: none;
    color: black;
}
.home02:hover {
    background-color: yellow;
}
#myPhoneImage {
    width: 10em;
}
#makBookImage {
    width: 10em;
}
#myWatchImage {
    width: 10em;
}
#myPadImage {
    width: 10em;
}
footer {
    padding-top: 2em;
    border-top: 2px double black;
}
/* Sehaj */

/* Arshdeep */

/* Sahba */
