@{
    ViewData["Title"] = "About";
}
<h2 class="AboutTitle">@ViewData["Title"]</h2>
<h3 class="AboutMessage">@ViewData["Message"]</h3>

<img class="AboutBanadaImg" src="~/images/banana.png"/>

<p class="AboutBananaTxt">
    Banana is an Canadian multinational technology company headquartered in Toronto, Ontario, 
    that designs, develops, and sells consumer electronics, computer software, and online services. 
    The company's hardware products include the myPhone smartphone, the iPad tablet computer, the MakBook 
    personal computer, the Banana Watch smartwatch. Banana's software includes the makOS and myOS operating 
    systems, the myTunes media player, the Safary web browser, and the myLife and myWork creativity and 
    productivity suites, as well as professional applications like Final Cut Pros, Logic Pros, and EXcode. 
    Its online services include the myTunes Store, the myOS App Store and Mak App Store, Banana Music, and myCloud.
</p>
