@{
    ViewData["Title"] = "Contact";
}
<h2 class="ContactTitle">@ViewData["Title"]</h2>
<h3 class="ContactMessage">@ViewData["Message"]</h3>

<img class="ContactBanadaImg" src="~/images/banana_building.jpg" />

<div class="ContactText">
    <address>
        655 Bay Street, Suite 2100<br />
        Toronto, ON M5G 1E5<br />
        <abbr title="Phone">Phone:</abbr>
        (416)888-8888
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@banana.com">Support@banana.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@banana.com">Marketing@banana.com</a>
    </address>
</div>