@{
    ViewData["Title"] = "Banana";
}

<div>
    <img id="myPhoneImage" src="~/images/myPhone.jpg" />
    <p>myPhone</p>
    <img id="makBookImage" src="~/images/makBook.jpg" />
    <p>makBook</p>
    <img id="myWatchImage" src="~/images/myWatch.jpg" />
    <p>myWatch</p>
    <img id="myPadImage" src="~/images/myPad.jpg" />
    <p>myPad</p>
</div>
