﻿
@{
    ViewData["Title"] = "myWatch";
}
<h1>My Watch</h1>
<h3>Are you looking for modern and stylish Watch</h3>
<div>
    <img src="~/images/watch.gif" alt="Watch" class="centre" width="900" />
</div>
<br />
<table cellpadding="2" cellspacing="50">
    <tr>
        <th><h3>Display</h3></th>
        <th colspan="2"><h3>Case Material&nbsp;&nbsp;&nbsp;&nbsp;</h3></th>
        <th colspan="2"><h3>Strap Type&nbsp;&nbsp;&nbsp;&nbsp;</h3></th>
        <th><h3>Strap Colour</h3></th>
    </tr>
    <tr>
        <td>Banana Watch Series3</td>
        <td colspan="2">Aluminium&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">Sport&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Pink,Black</td>
    </tr>
    <tr>
        <td>Banana Watch Hermes&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">Stainless Steel&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">Leather&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Blue,White,Black</td>
    </tr>
    <tr>
        <td>Banana Watch Nike+&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">Stainless Steel&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Green,White</td>
    </tr>
    <tr>
        <td>Banana Watch Series4&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Purple,Blue,Black,White</td>
    </tr>
</table>
<br />
<div class="buttons">
    <a class="btn btn-default" href="https://www.microsoft.com/en-ca/p/surface/8zcnc665slq5?icid=homepage_hero1_SurfacePro6TC_121318&activetab=pivot%3aoverviewtab">
        Add To Cart
    </a> &nbsp; <a class="btn btn-default" href="https://www.microsoft.com/en-ca/p/surface/8zcnc665slq5?icid=homepage_hero1_SurfacePro6TC_121318&activetab=pivot%3aoverviewtab">
        Back To Shopping
    </a>
</div>